# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\RUBY_CS\菜鸟教程\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
